<h1> Home </h1>


  <%=file_field(:avatar, accept:'image/*', id:"file-input")%>
  <button type="button" onclick="sendPhoto()" class="btn btn-primary">Submit</button>
  

<hr/>


<div class="container">
    <h5 id="number_plate_display">asdf</h5> 
</div>

<!-- On click, call function -->
<div>
	<table id="demo"></table>
</div>

<script>

var input = document.querySelector('input[type=file]'); 

	function sendPhoto(){
		// image file
		var file = input.files[0];
		// create form for sending to controller
		var form = new FormData()
		xhr = new XMLHttpRequest();

		xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {

            alert("Sucessful: )")
            // get json and covert back to array
            var response = JSON.parse(this.responseText)

            // display first item in array which is the number plate
            document.getElementById("number_plate_display").innerHTML = "Number Plate: " + response[0]
            // table
            var table ="<tr><th>123</th><th>123</th></tr>";
            // if response array is longer than 1 means it carries other infomations
            if (response.length >1){
            var array= ["No.Plate", "Driver Full Name", "Drivers License","Email","Number of Fines"];
              for (i = 0; i <response.length; i++) { 
				table += "<tr><td>" + array[i]+ "</td><td>" + response[i] + "</td></tr>";
				}
				document.getElementById("demo").innerHTML = table;
			}
           
         }
         }

       	form.append('avatar', file);
        xhr.open('post', 'welcome/numplate', true);
		xhr.send(form)
    

	}
</script>