<body class="welcome-page-background">

	<div>
	<h1 class="text-shadow-welcome"> Welcome </h1>
	</div>

	<div class="align-center check-num-button">
	<%=link_to 'Look up Plate', welcome_check_path%>
	</div>

</body>