<body class="welcome-page-background">
<div class="container-fluid ">
	<div>
	<h1 class="float-right"> Welcome </h1>
	</div>

	<div class="float-right check-num-button">
	<%=link_to 'Look up Plate', welcome_check_path%>
	</div>

</div>


</body>